@page "/adminrestaurantmanage"
@layout AdminMainLayout
@using ASMC6.Shared
@using ASMC6.Server.Service
@inject HttpClient httpClient
@inject NavigationManager Navigation

@if (listRest != null)
{
    <hr />
    <h4>Restaurants</h4>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Image</th>
                <th>Opening Hours</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var restaurant in listRest)
            {
                <tr>
                    <td><img src="./image/restaurant/@restaurant.Image" alt="Alternate Text" width="100px" height="100px" /></td>
                    <td>@restaurant.Name</td>
                    <td>@restaurant.OpeningHours</td>
                    <td>
                        <button class="btn btn-primary" @onclick="() => EditRest(restaurant.RestaurantId)">Edit</button>
                        <button class="btn btn-danger" @onclick="() => DeleteProd(restaurant.RestaurantId)">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Loading...</p>
}
