@page "/adminrestaurantmanage"
@layout AdminMainLayout
@using ASMC6.Shared
@using ASMC6.Server.Service
@inject HttpClient httpClient
@inject NavigationManager Navigation

<style>
    .product-table-container {
        max-height: 600px;
        overflow-y: auto;
    }

        .product-table-container table {
            width: 100%;
        }

    .search-bar, .filter-bar {
        margin-bottom: 20px;
    }
</style>

<AuthorizeView Roles="1">
    <Authorized>
        @if (isLoading)
        {
            <p>Loading...</p>
        }
        else if (!string.IsNullOrEmpty(errorMessage))
        {
            <p class="text-danger">@errorMessage</p>
        }
        else
        {
            <hr />
            <h4>Quản lý cửa hàng</h4>
            <div class="search-bar">
                <input type="text" class="form-control" placeholder="Tìm kiếm sản phẩm..." @oninput="FilterRestaurant" />
            </div>
            <div class="product-table-container">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Image</th>
                            <th>Opening Hours</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var restaurant in filteredRest)
                        {
                            <tr>
                                <td><img src="./image/restaurant/@restaurant.Image" alt="Alternate Text" width="100px" height="100px" /></td>
                                <td>@restaurant.Name</td>
                                <td>@restaurant.OpeningHours.ToString("HH:mm:ss")</td>
                                <td>@restaurant.IsDelete</td>
                                <td>
                                    @if (!restaurant.IsDelete)
                                    {
                                        <button class="btn btn-danger" @onclick="() => HideRest(restaurant.RestaurantId)">Ẩn</button>
                                    }
                                    else
                                    {
                                        <button class="btn btn-warning" @onclick="() => HideRest(restaurant.RestaurantId)">Khôi phục</button>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

            //thông báo
        }
    </Authorized>
    <NotAuthorized>
        <h3>Không có quyền truy cập</h3>
    </NotAuthorized>
</AuthorizeView>