@* @page "/adminordermanage"
@layout AdminMainLayout
@using ASMC6.Shared
@using ASMC6.Server.Service
@inject HttpClient httpClient
@inject NavigationManager Navigation

<AuthorizeView Roles="1">
    <Authorized>
        @if (isLoaded)
        {
            <hr />

            <h4>Quản lý order</h4>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>OrderItems</th>
                        <th>OrderDate</th>
                        <th>UserId</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var order in listOrder)
                    {
                        <tr>
                            <td>@order.OrderItems</td>
                            <td>@order.OrderDate</td>
                            <td>@order.UserId</td>
                            <td>
                                <button class="btn btn-primary" @onclick="() => EditOrder(order.OrderId)">Edit</button>
                                <button class="btn btn-danger" @onclick="() => DeleteOrder(order.OrderId)">Delete</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <p>Loading...</p>
        }

    </Authorized>
    <NotAuthorized>
        <h3>Không có quyền truy cập</h3>
    </NotAuthorized>
</AuthorizeView>
 *@