@page "/"

@layout MainLayout
@using ASMC6.Shared
@using ASMC6.Server.Service
@inject HttpClient httpClient
@inject CartService CartService
@inject NavigationManager Navigation




<!--Carosel-->
<div id="carouselExampleDark"
     class="carousel carousel-dark slide"
     data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="10000">
            <img src="./public/banner17jpg@2x.png" width="100%" height="720px" />

            <div class="carousel-caption">
                <h1>First slide label</h1>
                <p>Some representative placeholder content for the first slide.</p>
                <button class="btn btn-danger">Đến cửa hàng</button>
            </div>
        </div>

        <div class="carousel-item" data-bs-interval="2000">
            <img src="./public/banner18jpg@2x.png" width="100%" height="720px" />
            <div class="carousel-caption">
                <h1>Second slide label</h1>
                <p>Some representative placeholder content for the second slide.</p>
                <button class="btn btn-danger">Đến cửa hàng</button>
            </div>
        </div>

        <div class="carousel-item">
            <img src="./public/banner19jpg@2x.png" width="100%" height="720px" />
            <div class="carousel-caption">
                <h1>Third slide label</h1>
                <p>Some representative placeholder content for the third slide.</p>
                <button class="btn btn-danger">Đến cửa hàng</button>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev"
            type="button"
            data-bs-target="#carouselExampleDark"
            data-bs-slide="prev">
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next"
            type="button"
            data-bs-target="#carouselExampleDark"
            data-bs-slide="next">
        <span class="visually-hidden">Next</span>
    </button>
</div>
<!--Carodel-->

<div class="container mt-3 mb-3 border rounded-start rounded-end bg-danger">
    <div class="col-md-12 row p-2">
        <div class="col-md-10">
            <b class="fs-2">Món ăn nổi bậc</b>
        </div>
        <div class="col-md-2">
            <button class="btn btn-light col-md-12 m-auto">Xem thêm</button>
        </div>
    </div>
</div>

<!---->
<section class="container">
    <div class="col-md-12 row">
        <div class="border border-1 col-md-6 p-3"
             style="
            background: url(./public/banner17jpg@2x.png) no-repeat;
            background-size: cover;
          ">
            <div class="shopping-heading-parent">
                <div class="shopping-heading">
                    <h1 class="heading-257">Make your grocery</h1>
                    <h1 class="heading-258">shopping easy with us</h1>
                </div>
                <div class="feed-your-family3">Feed your family the best</div>
            </div>
            <button class="link75 btn btn-outline-secondary">
                <b class="shop-now12">Shop Now</b>
                <img alt="" src="./public/iklbiconmoveright2.svg" />
            </button>
            <div class="diventry-inner10"></div>
        </div>
        <div class="col-md-6 p-3"
             style="
            background: url(./public/banner19jpg@2x.png) no-repeat;
            background-size: cover;
          ">
            <div class="shopping-heading-parent">
                <div class="shopping-heading">
                    <h1 class="heading-257">Make your grocery</h1>
                    <h1 class="heading-258">shopping easy with us</h1>
                </div>
                <div class="feed-your-family3">Feed your family the best</div>
            </div>
            <button class="link75 btn btn-outline-secondary">
                <b class="shop-now12">Shop Now</b>
                <img alt="" src="./public/iklbiconmoveright2.svg" />
            </button>
            <div class="diventry-inner10"></div>
        </div>
    </div>
    <div class="col-md-12 row">
        <!--SP1-->
        @foreach (var rest in listRest)
        {
            var menuForRest = listMenu.FirstOrDefault(menu => menu.RestaurantId == rest.RestaurantId);

            if (menuForRest != null)
            {
                var item = listProd.FirstOrDefault(prod => prod.MenuId == menuForRest.MenuId);

                if (item != null)
                {
                    <div class="border border-1 col-md-3 mt-3">
                        <div class="col-md-12">
                            <div class="d-flex flex-row align-items-start justify-content-start spanbadge46 bg-gradient mt-3">
                                <img class="svg-icon8"
                                     alt=""
                                     src="./image/product/@item.Image"
                                     width="100%" height="300px" />
                            </div>
                            <div class="add-button-three position-relative mt-1">
                                <div class="link-great-value-rising-crus-parent d-flex flex-column align-items-start justify-content-start">
                                    <div class="link-great-container18">
                                        <a class="great-value-rising9 fs-5">@item.Name</a>
                                    </div>
                                </div>
                                <b class="ins-wrapper fs-5 mt-3">@item.Price.ToString("#,##0") VND</b>
                                <a class="position-absolute top-0 end-0 mt-3" style="cursor: pointer" @onclick="() => AddToCart(item)">
                                    <i class="fa-solid fa-cart-plus text-danger fs-4"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                }
            }
        }
    </div>
</section>

<div class="container mt-3 mb-3 border rounded-start rounded-end bg-danger">
    <div class="col-md-12 row p-2">
        <div class="col-md-10">
            <b class="fs-2">Danh mục cửa hàng</b>
        </div>
    </div>
</div>

<section class="container">
    <div class="col-md-12 row">
        @if (listRest == null)
        {
            <div id="loading">
                <div class="item1"></div>
                <div class="item2"></div>
                <div class="item3"></div>
            </div>
        }
        else if (!listRest.Any())
        {
            <p>Your cart is empty.</p>
        }
        else
        {
            @foreach (var rest in listRest)
            {
                <a class="col-md-3 border mt-3 rounded nav-link" href="/product">
                    <div class="image-links col-md-12 row">
                        <div class="product-links col-md-6">
                            <div class="offer-links">
                                <img alt="Img"
                                     class="rounded-circle"
                                     src="./image/restaurant/@rest.Image"
                                     width="100%" />
                            </div>
                        </div>
                        <div class="rating-content-parent col-md-6">
                            <div class="rating-content">
                                <b class="great-value-rising11">@rest.Name</b>
                                <div class="rating-image">
                                    <img class="img-rated-400-out-of-513"
                                         loading="lazy"
                                         alt=""
                                         src="./public/img--rated-400-out-of-51.svg" />
                                    <span class="empty2">3</span>
                                </div>
                            </div>
                            <div class="col-md-12 mt-3">
                                <span>@rest.OpeningHours.TimeOfDay</span>
                            </div>
                        </div>
                    </div>
                </a>
            }
        }

    </div>
    <!---->
    <div class="container rounded-start rounded-end">
        <div class="col-md-12 row p-2">
            <div class="col-md-10"></div>
        </div>
    </div>
</section>