@page "/login"
@inject HttpClient httpClient
@inject NavigationManager Navigation
@inject LocalStorageService _localStorageService
@inject IJSRuntime JS

<div class="card bg-login mt-5 mb-5">
    <div class="card-body row main-card">
        <div class="col-md-6 bg-left" style="background-image: url('https://i.pinimg.com/564x/06/ab/18/06ab18bbf61d13cc1ea3f57f4f855754.jpg'); background-size: cover; background-repeat: no-repeat; background-position: center;"></div>
        <div class="col-md-6 bg-right">
            <EditForm Model="@user" method="post" OnValidSubmit="HandleLogin">
                <DataAnnotationsValidator />
                <div class="text-center ms-5 me-5">
                    <span class="text-title">Đăng nhập</span>
                </div>
                <div class="form-group pb-2 ms-5 me-5">
                    <label class="form-label text-label pb-2" for="Username">Tên tài khoản</label>
                    <InputText class="form-control input-brd" id="email" @bind-Value="user.Email"/>
                </div>
                <div class="form-group pb-2 ms-5 me-5">
                    <label class="form-label text-label pb-2" for="Password">Mật khẩu</label>
                    <InputText class="form-control input-brd" id="password" @bind-Value="user.Password" type="password" />
                </div>
                <div class="ms-5 me-5">
                    <ul class="gr-icon">
                        <li class="item"><a class="nav-link" style="cursor: pointer" @onclick="LoginWithFacebook"><img src="./image/icon/fb.png" width="35px" height="35px" alt="Icon" /></a></li>
                        <li class="item"><a class="nav-link" style="cursor: pointer" @onclick="LoginWithGoogle"><img src="./image/icon/google.png" width="35px" height="35px" alt="Icon" /></a></li>
                    </ul>
                </div>
                <div class="ms-5 me-5 mb-3">
                    <a class="btn btn-success" href="/register">Đăng kí</a>
                    <button type="submit" @onclick="HandleLogin" id="btnLogin" class="btn btn-primary">Đăng nhập</button>
                </div>
            </EditForm>
        </div>
    </div>
</div>
