@page "/product"
@using ASMC6.Shared
@inject HttpClient httpClient

<h3>Product</h3>

@if (listProd != null)
{
    <table>
        <thead>
            <tr>
                <td>Id</td>
                <td>Name</td>
                <td>Price</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in listProd)
            {
                <tr>
                    
                     <td>
                        <a href="inforproduct/@item.ProductId">
                            @item.ProductId
                        </a>
                    </td>

                    <td>@item.Name</td>
                    <td>@item.Price</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Loading...</p>
}

<h3>Form</h3>
<form>
    <label>Name</label>
    <input @bind="prod.Name" />
    <label>MenuId</label>
    <input @bind="prod.MenuId" />
    <label>CategoryId</label>
    <input @bind="prod.CategoryId" />
    <label>Price</label>
    <input @bind="prod.Price" />
    <label>Description</label>
    <input @bind="prod.Description" />
    <label>IsDelete</label>
    <input @bind="prod.IsDelete" />
    <label>Image</label>
    <input @bind="prod.Image" />
    <button type="button" @onclick="AddProd">Add Product</button>
</form>

@code {
    private List<ASMC6.Shared.Product> listProd;
    private ASMC6.Shared.Product prod = new ASMC6.Shared.Product();

    protected override async Task OnInitializedAsync()
    {
        await LoadProducts();
    }

    private async Task LoadProducts()
    {
        try
        {
            listProd = await httpClient.GetFromJsonAsync<List<ASMC6.Shared.Product>>("api/Product/GetProducts");
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error: {ex.Message}");
        }
    }

    private async Task AddProd()
    {
        await httpClient.PostAsJsonAsync("api/Product/AddProduct", prod);
        await LoadProducts();
        StateHasChanged();
    }
}
