@page "/restaurant/{userId:int}"
@using ASMC6.Shared
@inject HttpClient httpClient
@inject IJSRuntime JS


<AuthorizeView Roles="2">
    <Authorized>
        @if (restaurants is null)
        {
            <p>Loading...</p>
        }
        else
        {
            <article class="container mb-3">
                <div class="mt-5 mb-5 row text-light fw-bold bg-danger bg-opacity-90 align-items-center">
                    <div class="col-md-5 mt-2 mb-2">
                        <img class="rounded" src="/image/restaurant/@restaurant.Image" width="100%" height="250vh" alt="">
                    </div>
                    <div class="info-res col-md-5 ms-2 fw-bold">
                        <div class="text-light">
                            <h1>Phúc Long</h1>
                            <hr>
                            <span>Thời gian mở cửa: @restaurant.OpeningHours.ToShortTimeString()</span><br>
                            <span>Địa chỉ: @restaurant.Address</span><br>
                            <span>Đánh giá: 4.8/5</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 row mx-auto justify-content-center p-0">
                    @if (restaurants == null)
                    {
                        <p>loain</p>
                        <div class="bd">
                            <div id="loading">
                                <div class="item1"></div>
                                <div class="item2"></div>
                                <div class="item3"></div>
                            </div>
                        </div>

                    }
                    else
                    {
                        @foreach (var item in restaurants)
                        {
                            <div class="col-md-4 text-center inner-food">
                                <img src="/image/restaurant/@item.Image" alt="" width="100%" height="70%">
                                <div class="name-food row m-0" style="height:46px; font-size:25px; color:white; background-color: #DB3737 ;">
                                    <span class="text-name-food text-truncate" style="">nv @item.Name</span>
                                </div>
                                <div class="address-food row m-0" style="background-color:#C56D6D; height:46px; font-size:25px; color:white;">
                                    <span class="text-addres-food text-truncate">ax @restaurant.Address</span>
                                </div>
                            </div>
                        }
                    }

                </div>
                
                <div class="container">
                    <h1 class="text-center">Quản lý sản phẩm</h1>
                    <p>
                        <a class="btn btn-primary">Thêm sản phẩm</a>
                    </p>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Tên</th>
                                <th>Ảnh</th>
                                <th>Giá</th>
                                <th>Mô tả</th>
                                <th>Menu</th>
                                <th>Danh mục</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="align-middle">
                                    Name
                                </td>
                                <td class="align-middle">
                                    <img src="" width="50px" height="50px" alt="Alternate Text" />
                                </td>
                                <td class="align-middle">
                                    200000
                                </td>
                                <td class="align-middle">
                                    Mô tả
                                </td>
                                <td class="align-middle">
                                    Menu
                                </td>
                                <td class="align-middle">
                                    Danh mục
                                </td>
                                <td>
                                    <div class="btn-group">
                                        <a class="btn btn-outline-secondary">Sửa</a>
                                        <a class="btn btn-outline-secondary">Ẩn</a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </article>
        }
    </Authorized>
    <NotAuthorized>
        <h3>Bạn không có quyền truy cập</h3>
        <img src="/image/meme-cut-14.jpg" width="100%" height="auto" alt="Alternate Text" />
    </NotAuthorized>
</AuthorizeView>


