<!-- AdminMainLayout.razor -->

@inherits LayoutComponentBase
@using ASMC6.Client.Session
@using ASMC6.Shared
@using Microsoft.JSInterop
@inject LocalStorageService _localStorageService
@inject IJSRuntime JS


<CascadingAuthenticationState>
    <div class="admin-layout">
        <nav class="sb-topnav navbar navbar-expand navbar-dark bg-danger">
            <!-- Navbar Brand-->
            <a href="index.html" class="text-decoration-none" style="margin-left: 5%;">
                <div class="d-flex align-items-center">
                    <img src="./image/icon/whiteIcon.png" alt="VFOOD Logo" style="height: 60px; margin-right: 5px;">
                </div>
            </a>
            <!-- Navbar-->
            <ul class="navbar-nav ms-auto me-3 me-lg-4">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fas fa-user fa-fw"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#!">Settings</a></li>
                        <li><a class="dropdown-item" href="#!">Activity Log</a></li>
                        <li><hr class="dropdown-divider" /></li>
                        <li><a class="dropdown-item" href="/logout">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        <div class="col-md-12 row">
            <div class="col-md-2 row bg-secondary">
                <nav class="bg-secondary dropdown">
                    <a href="/information" class="col-md-12 btn btn-secondary text-decoration-none">
                        <div class="col-md-12 p-2 mt-1 d-flex align-items-center">
                            <i class="fas fa-info-circle text-white me-2"></i>
                            <h3 class="text-white">Thông Tin</h3>
                        </div>
                    </a>
                    <a href="/adminusermanage" class="col-md-12 btn btn-secondary text-decoration-none">
                        <div class="col-md-12 p-2 mt-1 d-flex align-items-center">
                            <i class="fas fa-users text-white me-2"></i>
                            <h3 class="text-white">Tài khoản người dùng</h3>
                        </div>
                    </a>
                    <a href="/admincategorymanage" class="col-md-12 btn btn-secondary text-decoration-none">
                        <div class="col-md-12 p-2 mt-1 d-flex align-items-center">
                            <i class="fas fa-list text-white me-2"></i>
                            <h3 class="text-white">Danh Mục</h3>
                        </div>
                    </a>
                    <a href="/adminproductmanage" class="col-md-12 btn btn-secondary text-decoration-none">
                        <div class="col-md-12 p-2 mt-1 d-flex align-items-center">
                            <i class="fas fa-box text-white me-2"></i>
                            <h3 class="text-white">Sản Phẩm</h3>
                        </div>
                    </a>
                    <a href="/adminrestaurantmanage" class="col-md-12 btn btn-secondary text-decoration-none">
                        <div class="col-md-12 p-2 mt-1 d-flex align-items-center">
                            <i class="fas fa-store text-white me-2"></i>
                            <h3 class="text-white">Cửa Hàng</h3>
                        </div>
                    </a>
                    <a href="/adminordermanage" class="col-md-12 btn btn-secondary text-decoration-none">
                        <div class="col-md-12 p-2 mt-1 d-flex align-items-center">
                            <i class="fas fa-shopping-cart text-white me-2"></i>
                            <h3 class="text-white">Hóa Đơn</h3>
                        </div>
                    </a>
                </nav>
            </div>
            <div class="col-md-10">
                <main>
                    <div class="container-fluid fixed-height-container" style="height: 868px;">
                        <div class="card shadow-sm mt-3">
                            <div class="card-body">
                                @Body
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>
    </div>

</CascadingAuthenticationState>
 