<!-- AdminMainLayout.razor -->

@inherits LayoutComponentBase
@using ASMC6.Client.Session
@using ASMC6.Shared
@using Microsoft.JSInterop
@inject LocalStorageService _localStorageService
@inject IJSRuntime JS

<CascadingAuthenticationState>
    <div class="admin-layout">

        <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
            <!-- Navbar Brand-->
            <a href="index.html" class="text-decoration-none" style="margin-left: 2%;">
                <div class="">
                    <img src="./image/icon/whiteIcon.png" width="270" height="71" alt="Icon" />
                </div>
            </a>

            <!-- Navbar-->
            <ul class="navbar-nav ms-auto me-3 me-lg-4">
                <li class="list-group-item header-group" style="display:@(!IsLoggedIn ? "none" : "block")">
                    <a class="nav-link text-truncate"
                       href="/user">Hello! @UserName</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fas fa-user fa-fw"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/login">Đăng xuất</a></li>
                    </ul>
                </li>
            </ul>

        </nav>
        <div class="col-md-12 row">
            <div class="col-md-2 row bg-dark">
                <nav class="bg-dark dropdown">
                    <a href="/admin" class="col-md-12 btn btn-dark text-decoration-none">
                        <div class="col-md-12 p-2 mt-1">
                            <h3 class="text-white text-start">Thông Tin</h3>
                        </div>
                    </a>
                    <a href="/adminusermanage" class="col-md-12 btn btn-dark text-decoration-none">
                        <div class="col-md-12 p-2 mt-1">
                            <h3 class="text-white text-start">Tài khoản người dùng</h3>
                        </div>
                    </a>
                    <a href="/adminproductmanage" class="col-md-12 btn btn-dark text-decoration-none">
                        <div class="col-md-12 p-2 mt-1">
                            <h3 class="text-white text-start">Sản Phẩm</h3>
                        </div>
                    </a>
                    <a href="/adminrestaurantmanage" class="col-md-12 btn btn-dark text-decoration-none">
                        <div class="col-md-12 p-2 mt-1">
                            <h3 class="text-white text-start">Cửa Hàng</h3>
                        </div>
                    </a>
                    <a href="/adminordermanage" class="col-md-12 btn btn-dark text-decoration-none">
                        <div class="col-md-12 p-2 mt-1">
                            <h3 class="text-white text-start">Order</h3>
                        </div>
                    </a>
                </nav>
            </div>
            <div class="col-md-10">
                <main>
                    <div class="container-fluid fixed-height-container vh-100">
                        @Body
                    </div>
                </main>
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid px-4">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Copyright &copy; Your Website 2023</div>
                            <div>
                                <a href="#">Privacy Policy</a>
                                &middot;
                                <a href="#">Terms &amp; Conditions</a>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>

    </div>

</CascadingAuthenticationState>

@code{
    private bool IsLoggedIn { get; set; }
    private bool IsRestaurant = true;
    private string UserName { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await JS.InvokeVoidAsync("checkTokenExpiry");
        var token = await _localStorageService.GetItemAsync("authToken");
        UserName = await _localStorageService.GetItemAsync("userName");
        IsLoggedIn = !string.IsNullOrEmpty(token);
        StateHasChanged();
    }
}


