@inherits LayoutComponentBase
@using ASMC6.Client.Session
@using ASMC6.Shared
@using Microsoft.JSInterop
@inject LocalStorageService _localStorageService
@inject HttpClient httpClient
@inject IJSRuntime JS

<CascadingAuthenticationState>
    <div class="main-layout">
        <header class="bg">
            <div class="container">
                <div class="row">
                    <div class="col-md-9 align-items-center d-flex">
                        <ul class="list-group list-group-horizontal">
                            <li class="list-group-item header-group">
                                <a class="nav-link"
                                   aria-current="page"
                                   href="@GetRestaurantUrl()">
                                    Kênh Người Bán
                                </a>
                            </li>
                            <li class="list-group-item header-group">
                                <span class="m-1">|</span>
                            </li>
                            <li class="list-group-item header-group">
                                <a class="nav-link active"
                                   aria-current="page"
                                   href="/registRestaurant">
                                    Trở Thành Người Bán
                                </a>
                            </li>
                            <li class="list-group-item header-group">
                                <span class="m-1">|</span>
                            </li>
                            <li class="list-group-item header-group">
                                <a class="nav-link active" aria-current="page" href="#">Điều Khoản Dịch Vụ</a>
                            </li>
                        </ul>


                    </div>
                    <div class="col-md-3 d-flex justify-content-center align-items-center">
                        <ul class="list-group list-group-horizontal">
                            <li class="list-group-item header-group" style="display:@(IsLoggedIn ? "none" : "block")">
                                <a class="nav-link"
                                   href="/register">Đăng ký</a>
                            </li>
                            <li class="list-group-item header-group" style="display:@(IsLoggedIn ? "none" : "block")">
                                <span class="m-1">|</span>
                            </li>
                            <li class="list-group-item header-group" style="display:@(IsLoggedIn ? "none" : "block")">
                                <a class="nav-link"
                                   href="/login">Đăng nhập</a>
                            </li>
                            <li class="list-group-item header-group" style="display:@(!IsLoggedIn ? "none" : "block")">
                                <a class="nav-link"
                                   href="/logout">Logout</a>
                            </li>
                            <li class="list-group-item header-group" style="display:@(!IsLoggedIn ? "none" : "block")">
                                <span class="m-1">|</span>
                            </li>
                            <li class="list-group-item header-group" style="display:@(!IsLoggedIn ? "none" : "block")">
                                <a class="nav-link text-truncate"
                                   href="/user">Hello! @UserName</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <!--Logo-->
                        <img src="./image/icon/whiteIcon.png" width="270" height="71" alt="Icon" />
                        <!--Logo-->
                    </div>
                    <div class="col-md-6 bg">
                        <!--search-->
                        <div class="col-md-12 mx-auto bg-white rounded-pill mt-3">
                            <form class="d-flex">
                                <div class="input-group">
                                    <input type="text"
                                           id="search"
                                           name="search"
                                           class="form-control rounded-pill mt-1 border-0"
                                           placeholder="Search"
                                           aria-label="Search" />
                                    <button class="btn btn-danger rounded-pill mx-1 mb-1 mt-1"
                                            type="submit"
                                            asp-area=""
                                            asp-controller="Product"
                                            asp-action="Index">
                                        <svg xmlns="http://www.w3.org/2000/svg"
                                             width="24"
                                             height="24"
                                             fill="currentColor"
                                             class="bi bi-search"
                                             viewBox="0 0 16 16">
                                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
                                        </svg>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="row">
                            <!--Icon Cart-->
                            <div class="row text-center m-3 mt-4">
                                <div class="col-md-5">
                                    <a class="text-white" href="/cart">
                                        <i class="fa-solid fa-cart-plus" style="font-size: 35px"></i>
                                    </a>
                                </div>
                                <div class="col-md-5">
                                    <a class="text-white m-3" href="/user">
                                        <i class="fa-solid fa-user" style="font-size: 35px"></i>
                                    </a>
                                </div>
                            </div>
                            <!--Icon Cart-->
                        </div>
                    </div>
                </div>
                <!--nav-->

                <nav class="navbar navbar-expand-lg bg">
                    <div class="container-fluid">
                        <button class="navbar-toggler"
                                type="button"
                                data-bs-toggle="collapse"
                                data-bs-target="#navbarNavDropdown"
                                aria-controls="navbarNavDropdown"
                                aria-expanded="false"
                                aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNavDropdown">
                            <ul class="navbar-nav mx-auto fs-4">
                                <li class="nav-item">
                                    <a class="nav-link active text-white mx-4"
                                       aria-current="page"
                                       href="/">Trang Chủ</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white mx-4"
                                       href="/gioithieu">Giới Thiệu</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white mx-4" href="product">Sản Phẩm</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white mx-4"
                                       href="/contact">Liên Hệ</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
                <!--nav-->
            </div>
        </header>

        <div class="container-fluid">
            @Body
        </div>

        <!--foodter-->
        <footer class="container-fluid mt-3">
            <div class="bg col-md-12 container-fluid">
                <br />
                <br />
                <br />
            </div>
            <div class="col-md-12 row mt-5">
                <!--Left-->
                <div class="col-md-4 row">
                    <div class="col-md-7">
                        <h4 class="m-3">Công ty</h4>
                        <ul class="navbar-nav mx-auto fs-5">
                            <li class="nav-item">
                                <a class="nav-link active mx-4" aria-current="page" href="#">Giới thiệu</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link mx-4" href="#">Trung tâm trợ giúp</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link mx-4" aria-current="page" href="#">Quy chế</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link mx-4" aria-current="page" href="#">Điều khoản sử dụng</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link mx-4" aria-current="page" href="#">Bảo mật thông tin</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link mx-4" aria-current="page" href="#">Giải quyết khiếu nại</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link mx-4" aria-current="page" href="#">Liên hệ</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link mx-4" aria-current="page" href="#">Hợp tác nhân viên giao hàng</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link mx-4" aria-current="page" href="#">Đăng ký quán</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-5"></div>
                </div>
                <!--Center-->
                <div class="col-md-4 text-center">
                    <br />
                    <div class="mt-5 mb-5">
                        <!--Logo-->
                        <img src="./image/icon/icon.png" width="250" alt="Icon" />
                        <!--Logo-->
                    </div>
                    <div class="mt-5">
                        <div class="col-md-4 mx-auto row">
                            <div class="col-md-5 m-1">
                                <a href="#" class="link-underline-light"><img src="./image/icon/fb.png" width="35px" height="35px" alt="Icon" /></a>
                            </div>
                            <div class="col-md-5 m-1">
                                <a href="#" class="link-underline-light"><img src="./image/icon/google.png" width="35px" height="35px" alt="Icon" /></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Right-->
                <div class="col-md-4 text-end fs-5">
                    <h4 class="m-3">Địa chỉ công ty</h4>
                    <p>Công Ty Cổ Phần Foody</p>
                    <p>Lầu G, Tòa nhà Jabes 1,</p>
                    <p>
                        Số 143 đường Cống Quỳnh, phường Phạm Ngũ Lão, Ninh Kiều, Cần Thơ
                    </p>
                    <p>Giấy CN ĐKDN số: 0311828026</p>
                    <p>do sở kế hoạch và đầu tư Cần Thơ cấp ngày 2/6/2012,</p>
                    <p>sửa đổi lần thứ 23, ngày 2/6/2024</p>
                    <p>Chịu trách nhiệm quản lý nội dung : Nguyễn Hồ Quảng Giang</p>
                    <p>Điện thoại liên hệ: 028 710 6879</p>
                </div>
            </div>
        </footer>
    </div>
</CascadingAuthenticationState>

