@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }
.bg-login {
    background-color: #cacacaca;
    border-radius: 13px;
}

.text-title {
    font-weight: bold;
    font-size: x-large
}

.text-label {
    font-weight: bold;
    font-size: large;
}

.input-brd {
    border-radius: 15px;
}

.bg-left {
    border-radius: 15px 0 0 15px;
}

.gr-icon {
    display: flex;
    justify-content: center;
    padding-left: 0;
    list-style: none;
}

.main-card {
    padding: 0;
}

.item {
    margin: 0 25px;
}

    .item:last-child {
        margin-right: 0;
    }

.gr-icon li a {
    font-size: 32px;
}

.gr-btn {
    display: flex;
    justify-content: space-between;
    margin-right: 5px;
    margin-left: 5px;
}

.bg-right {
    padding: 15px;
}